@charset "UTF-8";

body {
    background-color: #82b8eb;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#25496B;
}

h1#principal {
    text-align: center;
    background-color: #25496B;
    color: white;
}

h2 {
    color: #5383af;
}

.basico {
    color: #3e71a1;
}

.intermediario {
    color: #305c85;
}

.avancado {
    color: #1e3e5c;
}



