@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(./fontes/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Passion One';
    src: url(./fontes/PassionOne-Bold.ttf) format('truetype');
}

:root {
    --fonte-destaque: 'Passion One';
    --fonte-sriracha: 'Sriracha';
}
    
header {
    background-color: black;
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    margin: -10px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 7em;
    font-weight: normal;
    margin: 20px;
    padding-bottom: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header > h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1em;
    padding-top: 0px;
    padding-bottom: 50px;
}

main {
    margin: auto;
}

article > p {
    font-family: var(--fonte-sriracha);
    font-size: 3em;
    padding-bottom: 85px;
    margin: 75px 20px;
    line-height: 95px;
}

div.div2estrofe {
    background: black url('imagens/imagens/background001.jpg') no-repeat center center/cover fixed;
    box-shadow: 0px 0px 10px black insent;
    padding: 1px 5px;
    margin: -10px;
}

p.segundaestrofe {
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    width: 562px;
    padding: 5px; 
}

div.div5estrofe {
    background: black url('imagens/imagens/background002.jpg') no-repeat center center/cover fixed;
    padding: 1px 5px;
    margin: -10px;
}

p.quintaestrofe {
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    width: 570px;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1em;
    border: 1px 1px;
    padding: 0.5px;
    margin: -10px;
}
